<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Panel</title>
	<style>
body {background-color: purple;}
div {
  display: flex;
  justify-content: space-between;
}
h1 {
  color: white;
  font-family: courier;
  font-size: 110%;
}
</style>
</head>
<body>

<h1>Successful Log-In, Choose a task to perform from the hereunder list;</h1>

<form method="POST" action="">

	 <div>
		<input type="submit" name="activatebutton" value="Create PPE Item"/>
		</div>
		<br/><br/><br/>

		<div>
		<input type="submit" name="activatebutton" value="Read PPE Items"/>
		</div>
		<br/><br/><br/>

  <div>
		<input type="submit" name="activatebutton" value="Update PPE Item"/>
		</div>
		<br/><br/><br/>

  <div>
		<input type="submit" name="activatebutton" value="Delete PPE Item"/>
		</div>
		<br/><br/><br/>

	</form>

</body>
</html>