<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Delete PPE Item</title>
<style>
body {background-color: orange;}
div {
  display: flex;
  justify-content: space-between;
}
h1 {
  color: purple;
  font-family: courier;
  font-size: 110%;
}
</style>
</head>
<body>
<form action="" method="post">


	    <div>
		<h1>PPE Delete Item Form</h1>

		</div>
		<br/>


	    <div>
		<p>Enter Name of the Item to be deleted:</p>
		</div>


		<div>
		<input type="text" name="ppename"/>
		</div>
		<br/><br/>

		<div>
		<input type="submit" name="activateDelete" value="Delete-Existing-Item"/>
		</div>
		<br/><br/><br/>

	</form>
</body>
</html>