<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PPE Watchdog Introductory Page</title>
	<style>
body {background-color: pink;}
div {
  display: flex;
  justify-content: space-between;
}
h1 {
  color: purple;
  font-family: courier;
  font-size: 110%;
}
</style>
</head>
<body>

<h1>Welcome to PPE Watchdog - Inventory System Web Application</h1>

<form method="POST" action="">

	 <div>
		<input type="submit" name="activatebutton" value="Sign-Up"/>
		</div>
		<br/><br/><br/>

		<div>
		<input type="submit" name="activatebutton" value="Sign-In"/>
		</div>
		<br/><br/><br/>

	</form>

</body>
</html>