<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PPE Watchdog Introductory Page</title>
	<style>
body {background-color: pink;}
div {
  display: flex;
  justify-content: space-between;
}
h1 {
  color: purple;
  font-family: courier;
  font-size: 110%;
}
</style>
</head>
<body>
<h1>Successful Log-In Trial</h1>
<form method="POST" action="">

	    <div>
		<h1>PPE Create New Item Form</h1>

		</div>
		<br/>


	    <div>
		<p>PPE Item S/N:</p>
		<p>PPE Item Name:</p>
		</div>


		<div>
		<input type="text" name="ppesn"/>
		<input type="text" name="ppename"/>
		</div>
		<br/>

		<div>
		<p>PPE Item Brand:</p>
		<p>PPE Item Supplier:</p>
		</div>


		<div>
		<input type="text" name="ppebrand"/>
		<input type="text" name="ppesupplier"/>
		</div>
		<br/>

		<div>
		<p>PPE Item Warehouse Location:</p>
		<p>PPE Item Quantity:</p>
		</div>

		<div>
		<input type="text" name="ppelocation"/>
		<input type="text" name="ppequantity"/>
		</div>
		<br/><br/>

		<div>
		<input type="submit" name="activateCreate" value="Create-New-Item"/>
		</div>
		<br/><br/><br/>

	</form>

</body>
</html>