<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-In</title>
	<style>
body {background-color: yellow;}
div {
  display: flex;
  justify-content: space-between;
}
h1 {
  color: purple;
  font-family: courier;
  font-size: 110%;
}
</style>
</head>
<body>


<form method="POST" action="">

	    <div>
		<h1>Sign In To Access The PPE Inventory</h1>

		</div>
		<br/>


	    <div>
		<p>User Name:</p>
		<p>Password:</p>
		</div>


		<div>
		<input type="text" name="uname"/>
		<input type="text" name="upass"/>
		</div>
		<br/>



		<div>
		<input type="submit" name="activateSign-Up" value="Log In to PPE Inventory CRUD Panel"/>
		</div>
		<br/><br/><br/>

	</form>

</body>
</html>